.round-corners{
    border-radius: 25px;
    background-color:#26b0d0;
    padding: 20px;
    overflow: hidden;
}
h2{
    color: #dfebef;
    font-weight: bold;
    text-align: center;
}
#p1{
    color:#C1C8C0;
    font-weight:bolder;
    font-size:15px;
}

.results {
  font-size:16px;
  background:#fff;
  padding: 10px;
  border-radius: 10px;
  color: #1da6d0;
}

.results span {
  color:#333; 
}
