.round-corners{
    border-radius: 25px;
    background: #041A1F;
    padding: 20px;
    overflow: hidden;
}
h2{
    color: #C1C8C0;
    font-weight: bold;
    text-align: center;
}
#p1{
    color:#C1C8C0;
    font-weight:bolder;
    font-size:15px;
}