ul li a{
    margin-left:-50px;
    margin-top:10px;
    padding:15px;

}
ul li a:nth-child(1){
    margin-right: 67px;
}
.link{
    font-size:30px;
    background: #47b0d0;
    color:#fff;
    border-radius: 8px;
}
.link:hover{
    background: #31859e;
    color:#fff;
}
.nav-pills>li.active>a{
    background: #23829e;
    color:#fff;
    border-radius: 8px;
}
